@media only screen and (max-width: 1024px) {
    .card {
        border: 1px solid gray;
        margin-top: 30px;
        border-radius: 20px;
        margin-left: 140px;
        width: 700px;
    }
    #works {
        display: block;
        height: 1300px;
        font-size: 20px;
        background-color: #C0C0C0;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .card {
        border: 1px solid gray;
        margin-top: 30px;
        border-radius: 20px;
        margin-left: 40px;
        width: 700px;
    }
    #works {
        display: block;
        height: 1300px;
        font-size: 20px;
        background-color: #C0C0C0;
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    #headerwrap {
        background-color: #808080;
        margin-top: 10px;
        text-align: center;
        min-height: 570px;
        min-width: 740px;
    }
    .content-box {
        height: 1200px;
        text-align: center;
        margin-top: 0px;
        min-width: 740px;
    }
    .content-box p {
        margin-left: 40px;
        margin-right: 40px;
    }
    #works {
        display: block;
        height: 1440px;
        font-size: 50px;
        background-color: #C0C0C0;
        width: 740px;
    }
    .card {
        border: 1px solid gray;
        margin-top: 30px;
        border-radius: 20px;
        margin-left: 20px;
    }
}
