body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;

  margin-top: 70px;
}

p {
  line-height: 30px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #f85c37;
}

a:hover, a:focus{
  color: #7b7b7b;
  text-decoration: none;
  outline: 0px; /* Параметр рамки */
}
hr {
  display: block;
  height: 1px;
  border: 0px;
  border-top: 1px solid #ccc;
  margin: 1px 0;
  /* padding: 0; */
}
.navbar {
  font-weight: 800; /* Жирність слів  */
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #ff7878;
}
.navbar-inverse .navbar-brand {
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px; /* Відступ між буквами */
}
.fas {
  font-size: 20px;
}
#headerwrap {
  background-color: #808080;
  margin-top: 10px;
  text-align: center;
  min-height: 500px;
  width: 100%;
}

#headerwrap h1 {
  color: white;
  font-weight: 700;
  padding-top: 100px;
}
.content {
  margin-top: 150px;
  min-width: 100px;
  font-size: 20px;
}
.content h4 {
  font-size: 30px;
  font-weight: 500px;
  margin-top: 30px;
}
.content-box {
  height: 500px;
  text-align: center;
  margin-top: 0px;
}
#works {
  display: block;
  height: 900px;
  font-size: 50px;
  background-color: #C0C0C0;
  width: 100%;
}
#works h3 {
  font-weight: 300;
  margin-left: -30px;
  letter-spacing: 0.5px;
  margin-top: 100px;
  font-size: 40px;
  margin-bottom: 10px;
}
#works h4 {
  font-size: 40px;
  font-weight: 300;
  margin-top: 20px;
}
#works p {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 10px;
}
#works i {
  font-size: 30px;
}
.card {
  border: 1px solid gray;
  margin-top: 30px;
  border-radius: 20px;
  margin-left: 80px;
}